<div class="container">
    <div class="heading">Recuperar Contrasena</div>
    <span *ngIf="error" class="text-danger">Error la contrasena no se ha cambiado.</span>
    <form class="form" (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
        <div class="mb-3">
            <label for="forgotPassword" class="form-label">Nueva Contrasena</label>
            <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="forgotPassword">
        </div>
        <div class="mb-3">
            <label for="forgotPassword" class="form-label">Repita la contrasena</label>
            <input [(ngModel)]="passwordTwo" name="passwordTwo" type="password" class="form-control" id="forgotPasswordTwo">
        </div>
        <div class="mb-3 form-check">
            <input [(ngModel)]="captcha" name="captcha" type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">No soy un robot</label>
        </div>
        <div *ngIf="errorPassword">
            <br>
            <span class="text text-danger">Las contrasenas no coinciden.</span>
            <br><br>
        </div>
        <div *ngIf="updatePassword" class="alert alert-success" >Se ha restablecido la contrasena</div>
        <div *ngIf="errorCaptcha">
            <br>
            <span class="text-danger">Por favor marque no soy un robot para seguir.</span>
            <br>
        </div>
        <div *ngIf="!updatePassword" class="d-flex justify-content-between mb-3">
            <button type="submit" class="btn btn-primary me-2" >Enviar</button>
        </div>
        <div *ngIf="updatePassword" class="d-flex justify-content-between mb-3">
            <button type="submit" class="btn btn-primary me-2" (click)="redirectToMain()">Menu Principal</button>
        </div>
    </form>
</div>