<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
            aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li>
                    <a class="nav-link">Reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >Editar Comision</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/categorys">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/main-house" (click)="onClickLogout()">Cerrar Session</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="d-flex justify-content-center">
    <div class="card mx-2">
        <div class="first-content">
            <span>Numero de Visitantes</span>
        </div>
        <div class="second-content">
            <span>{{ data.numberViews }}</span>
        </div>
    </div>

    <div class="card mx-3">
        <div class="first-content">
            <span>Numero de Empleadores</span>
        </div>
        <div class="second-content">
            <span>{{ data.numberEmployers}}</span>
        </div>
    </div>

    <div class="card mx-3">
        <div class="first-content">
            <span>Numero de Solicitantes</span>
        </div>
        <div class="second-content">
            <span>{{ data.numberApplicants}}</span>
        </div>
    </div>
</div>
<router-outlet></router-outlet>