<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
            aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/main-house" (click)="onClickLogout()">Cerrar Session</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <button class="btn btn-primary" (click)="showModal()"> + Crear nueva Categoria</button>
    <br><br>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>CODIGO</th>
                <th>NOMBRE</th>
                <th>DESCRIPCION</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categoryList">
                <td>{{category.numberCategory}}</td>
                <td>{{category.nameCategory}}</td>
                <td>{{category.description}}</td>
                <td><button class="btn btn-primary">Editar</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="createCategory" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Crear Categoria</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="valueInput">Nombre de la categoria:</label>
                <input [(ngModel)]="category.nameCategory" type="text" class="form-control" id="valueInput"  name="valueInput">
            </div>
            <div class="form-group">
                <label for="descriptionInput">Descripcion:</label>
                <input [(ngModel)]="category.description" type="text" class="form-control" id="descriptionInput"  name="descriptionInput">
            </div>
        </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="createCategory(category)">Crear</button>
        </div>
    </div>
    </div>
</div>